In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [0]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [15]:
consecutive = [i for i in range(1,51)]
print(consecutive)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [16]:
even_nums = [i for i in range(2,201) if i%2 == 0]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [0]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [18]:
array_loop = [element for group in a for element in group ]
array_loop

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [19]:
array_loop = [element for group in a for element in group if element >= 0.5]
array_loop

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [0]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [21]:
weird_matrix = [element for big_group in b for mini_group in big_group for element in mini_group]
weird_matrix

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [22]:
weird_matrix2 = [mini_group[-1] for big_group in b for mini_group in big_group if mini_group[-1]<= 0.5]
weird_matrix2

[0.08147297,
 0.06833034,
 0.30296619,
 0.45850679,
 0.11434044,
 0.10708681,
 0.47984544,
 0.23760688]

### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [23]:
file_list = [i for i in os.listdir("/content/week1_data") if i.endswith('.csv')]
file_list

['sample_file_0.csv',
 'sample_file_9.csv',
 'sample_file_1.csv',
 'sample_file_3.csv',
 'sample_file_2.csv',
 'sample_file_6.csv',
 'sample_file_4.csv',
 'sample_file_5.csv',
 'sample_file_7.csv',
 'sample_file_8.csv']

### 8. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [24]:

data_sets = [pd.read_csv(os.path.join('/content/week1_data', i)) for i in file_list]
single_data = pd.concat(data_sets, axis=0)
single_data.head(10)

          0         1         2  ...        17        18        19
0  0.734751  0.195362  0.734309  ...  0.293260  0.937828  0.880858
1  0.772607  0.445391  0.249642  ...  0.389789  0.016787  0.503695
2  0.226428  0.268764  0.694262  ...  0.334802  0.517694  0.646110
3  0.362748  0.495430  0.113876  ...  0.141746  0.771144  0.489660
4  0.033415  0.340433  0.464971  ...  0.676051  0.109349  0.872947
0  0.215190  0.155352  0.160848  ...  0.867894  0.113432  0.349845
1  0.895544  0.955196  0.089925  ...  0.602258  0.984628  0.516899
2  0.413752  0.693052  0.789796  ...  0.076819  0.797836  0.197592
3  0.728001  0.348156  0.935787  ...  0.665568  0.931542  0.448124
4  0.134942  0.875931  0.273505  ...  0.365442  0.847818  0.588319

[10 rows x 20 columns]

### 9. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [25]:
median_lst = [col for col in single_data if single_data[col].median() < 0.48]
median_lst

['2', '9', '12', '14', '17']

### 10. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [26]:
# QUES Havn't used list comprehension 🤔
single_data['20'] =  single_data['19'] - 0.1
single_data.head()

          0         1         2  ...        18        19        20
0  0.734751  0.195362  0.734309  ...  0.937828  0.880858  0.780858
1  0.772607  0.445391  0.249642  ...  0.016787  0.503695  0.403695
2  0.226428  0.268764  0.694262  ...  0.517694  0.646110  0.546110
3  0.362748  0.495430  0.113876  ...  0.771144  0.489660  0.389660
4  0.033415  0.340433  0.464971  ...  0.109349  0.872947  0.772947

[5 rows x 21 columns]

### 11. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [91]:
extracted_values = [single_data.iloc[col,row] for col in range(single_data.shape[0]) for row in range(single_data.shape[1]) if single_data.iloc[col,row] <= 0.75 and single_data.iloc[col,row]>= 0.7]
extracted_values

[0.7347510852128797,
 0.7343092314001137,
 0.7490680818183477,
 0.7390312927111312,
 0.7159290265157912,
 0.7051334608870933,
 0.7280006345208285,
 0.7150799992177622,
 0.7321333453970806,
 0.7173964318670598,
 0.7356923324968598,
 0.7357618655811269,
 0.7306642125209889,
 0.7045750112959754,
 0.7033930409580709,
 0.7013619954419494,
 0.7396561066717461,
 0.7025657075988269,
 0.7298115760258881,
 0.7294980584878026,
 0.7215147068185102,
 0.7130781095091867,
 0.7393833032570581,
 0.7258310816144985,
 0.7383982036983279,
 0.7178166705957928,
 0.7088042362916818,
 0.7374449181749492,
 0.7264121114538001,
 0.7133695725698419,
 0.7476323136755818,
 0.7268545088531969,
 0.7111584953876777,
 0.7008930873050235,
 0.7209375615129192,
 0.7303553716733908,
 0.7274869207330491,
 0.7358941798147411,
 0.736029494090402,
 0.7085098152301276,
 0.7472962776291713,
 0.7329024831531535,
 0.7124169515124726,
 0.71223975981198,
 0.7365416322783028,
 0.7133690799930356,
 0.7078738356977186,
 0.7032248108904495,
 0.7196096371031628,
 0.7244863338885654,
 0.7321533684342264,
 0.7376946446827494,
 0.7132714209987683,
 0.7023481768180954]